[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
django-bootstrap-v5 = "*"
psycopg2 = "*"
django-cloudinary-storage = "*"
pillow = "*"
cloudinary = "*"
django-registration = "*"
python-decouple = "*"
django-heroku = "*"
whitenoise = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.8"
