@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito+Sans:wght@200;300;400;600&family=Nunito:ital,wght@0,400;0,700;1,200&family=Poppins:wght@100;300;500&display=swap');


:root {
    --dark-blue: #2B2D42;
    --lighter-blue: #8D99AE;
    --neutral: #EDF2F4;
    --ligter-red: #EF233C;
    --dark-red: #D90429;
}

body {
    font-family: 'Montserrat', sans-serif;
    max-width: 100vw;
}


.navbar {
    height: 8vh;
    padding: 0 3rem;
    background-color: white;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark-blue)
}


#navbarNav {
    z-index: 1000;
    display: flex;
    justify-content: right;
}

#navbarNav > ul {
    z-index: 1000;
}

#navbarNav > ul > li > a {
    color: black;
}


span {
    color: var(--ligter-red);
}


body > nav > div > div.navbar-right > a {
    text-decoration: none;
    color: black;
    margin-right: 1rem;
}

.intro {
    max-width: 100vw;
}

.overlay {
    min-height: 80vh;
    max-width: 100vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.884), rgba(253, 253, 253, 0.301)),
    url(https://images.unsplash.com/photo-1448454050639-2f8d4bf26975?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay h3 {
    color: var(--neutral);
}

.overlay a {
    text-decoration: none;
    color: var(--neutral);
    padding: .4rem 1rem;
    margin-right: 1rem;

    border: 1px solid rgba(253, 252, 252, 0.658);
}


.intro-text {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.intro-text h4 {
    max-width: 50%;
}

.button-tray {
    display: flex;
}


body > div > div {
    justify-content: center;
}


.card {
    border: 1px solid grey;
    height: 450px;
    border-radius: 0;
    padding: 0;
}

.card-img-top {
    height: 60%;
    width: 100%;
}


body > div {
    min-height: 100vh;
}


.wrapper {
    width: 60%;
    margin: 0 auto;
}

.login-wrapper {
    margin: 0 auto;
    min-height: 100%
}


body > div > div > div.col-md-6.login-wrapper > div {
    min-height: 100%
}


.log-tray {
    margin: 0 auto;
    align-items: center;
    padding: 1rem 2rem;

    box-shadow: -4px 5px 22px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: -4px 5px 22px -9px rgba(0,0,0,0.75);
-moz-box-shadow: -4px 5px 22px -9px rgba(0,0,0,0.75);
}


body > div.container.card-holder > div {
    justify-content: center;
}


.login-wrapper form {
    max-width: 60%;
}


.login-wrapper {
    min-height: 90vh;
}


.left {
    background-color: aqua;
    min-height: 90vh;
    background-size: cover;
    background-position: center;
    background: linear-gradient(to right bottom, rgba(137, 245, 14, 0.884), rgba(108, 216, 180, 0.301)),
    url(https://images.unsplash.com/photo-1617173944883-6ffbd35d584d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80);

}

.reg-left {
    background-color: aqua;
}

body > nav > div > div.navbar-header > a {
    color: black;
}


.reg form {
    max-width: 60%;
    margin: 0 auto;
}

.projects-container {
    background-color: azure;
}






/* media queries */

@media only screen and (max-width: 596px) {
    .navbar-brand {
        font-size: 1.5rem;
    }

    body > section > div > div.overlay-text > h3 {
        font-size: 20px;
    }

    body > div.intro-text > h4 {
        font-size: 18px;
    }

    body > div.container.card-holder > div > div {
        width: 500px;
    }
 
  }


  @media only screen and (max-width: 512px) {
    body > section {
        min-height: 100vh;
    }    

    .overlay {
        min-height: 100vh;
    }
  }


  @media only screen and (max-width: 440px) {

    .navbar {
        padding: 0 1rem;
    }
    body > section > div > div.overlay-text > h3 {
        font-size: 18px;
        max-width: 80%;
    }

    body > section > div > div.button-tray > a {
        padding: .3rem .7rem;
    }

    body > section > div > div.overlay-text {
        display: flex;
        text-align: start;
        padding-left: 1rem;
    }

  }