{% extends 'base.html' %}  

{% block content %} 

<div class="container projects-container mt-5">
    <div class="row">
      {% for project in projects %} 
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ project.image.url }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ project.name }}</h5>
          <p class="card-text">{{ project.description }}</p>
          <a href="{% url 'rate_project' project.id %}" class="btn btn-primary btn-sm">Go somewhere</a>
        </div>
      </div>
    {% endfor %}
    </div>
</div>

{% endblock %}