{% extends 'base.html' %} 

{% block content %}  
    
    <div class="container">
        <div class="row">
            <div class="info col-md-6">
                <div>
                    <img src="{{ project.image.url }}" alt="">
                </div>
                <p>{{ project.owner.username }}</p>
                <p>{{ project.live_link }}</p>
            </div>
            <div class="form-div col-md-6">
                <div>
                    <form action="{% url 'rate_project' project.id %}" method="post">
                        {% csrf_token %}
                        
                        {{ form.as_p }}
                        <input type="submit" value='rate' class="btn btn-sm btn-success">
                    </form>
                </div>
                <div class="ratings">

                    {% if ratings %}                        

                    {% for rating in ratings %}
                    
                    
                    <div class="rate container">
                       <div class="row">
                        <div class="info col-md-5">
                            <small>"{{ rating.comment }}"_</small><br>
                            <span class="badge badge-pill badge-danger">{{ rating.owner.username }}</span>
                        </div>
                        <div class="scores col-md-7">
                            <div class="score average">
                                {{ rating.average_score }}
                            </div>
                            <div class="score">
                                {{ rating.design_vote }}
                            </div>

                            <div class="score">
                                {{ rating.usability_vote }}
                            </div>

                            <div class="score">
                                {{ rating.content_vote }}
                            </div>
                        </div>
                       </div>
                    </div>
                    
                    {% endfor %}
                    {% else %} 

                        sorry bruh

                    {% endif %}

                </div>

            </div>
        </div>
    </div>
{% endblock %}